*{
    box-sizing : border-box;
}
body{
    background-image: linear-gradient(90deg, rgb(219, 215, 221), rgb(219, 215, 221));
    font-family: 'Times New Roman', Times, serif;
    display : flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin : 0;
    color:rgb(26, 23, 23);
}
.search{
    position: relative;
    height: 50px;

}
.search .input{
    background-color: #fff;
    border: 0;
    
}
