*{
    box-sizing : border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    display : flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin : 0;
    background-image: url('../img/sea.jpeg');
    background-position: center center;
    background-size: cover;
    transition: 0.4s;
} 