@import url('https://fonts.googleapis.com/css?family=Ubuntu');
*{
    box-sizing : border-box;
}
body{
    
    font-family: 'Ubuntu', sans-serif;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    background-color: #000;
}
.bg{
    background : url('../img/my-github.png') no-repeat center center/cover;
    position: absolute;
    width: 60%;
    height : 80%;
    z-index : -1;
    filter : blur(0px);
}
.loading-text{
    font-size: 50px;
    color : #fff;
}