*{
    box-sizing : border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin : 0;
    background-color: rgb(209, 205, 205)
}
div{
    position: absolute;
    bottom: 20px;
    background: rgb(109, 106, 106);
    padding: 10px 20px;
    font-size: 18px;

}
input{
    width: 50px;
    padding: 5px;
    font-size: 18px;
    background-color: #fff;
    border: none;
    text-align: center;
}
input:focus{
    outline: none;
}